<!-- ESTENDIAMO CON DJANGO L HTML DI BASE ED ATTRIBUIAMO AL BLOCK CONTENT IL CONTENUTO
QUESTO PER CREARE EREDITAERIETà TRA LE PAGINE, QUINDI AVERE STESSA INTESTAZIONE E FOOTER -->
{% extends "base.html" %}
{% block content %}
    <div class="container_custom">
        
        {% for object in object_list %}
        <div class="post">
            <div>
                <a href="{{object.get_absolute_url}}">
                    <h2 class="title text-center">{{ object.titolo}}</h2>
                </a>
            </div>
            <div class="post_container">
                <div class="content">
                    <small class="data">{{ object.data}}</small>
                    <p>{{ object.contenuto|truncatechars:300}}</p>
                </div>
            </div>
        </div>
        
           
        {% endfor %}
    </div>

    <div>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">precedente</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">successiva</a>
        {% endif %}
    </div>
{% endblock content %}
 

